#####
# Be sure to rename this to .env
#####
MDB_CONNECTION =
MDB_DATABASE =
MDB_COLLECTION =

# online archive federated query
MDB_OA_FEDERATED_CONNECTION =

# one million records
NUM_DOCS = 1000

# json file to read from
JSON_FILE_TO_PARSE =
